////
// Mixins
///

$transition: all 0.3s ease-out;


@mixin loadfont($file, $name: $file, $w: normal, $s: normal) {
  // exemple : @include loadfont(comicsansms-webfont, ComicSans);
  @font-face {
    font-family: $name;
    src: url('../fonts/' + $file + '.woff2') format('woff2');
    font-weight: $w;
    font-style: $s;
  }
}

// Selector helpers
@mixin headings {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @content;
  }
}

@mixin foundation_inputs {
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea, select {
    @content;
  }
}
// Misc helpers
@mixin pseudoBasics(){
  display: block;
  content: '';
  position: absolute;
}

// Custom Form Helpers
@mixin customCheckboxRadio($size: 20, $gap: 3, $radio: false) {
  position: relative;
  input {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
    width: rem-calc($size);
    height: rem-calc($size);
  }
  label {
    padding-left: rem-calc($size * 1.5);
    position: relative;
    &::before, &::after {
      transition: $transition;
      @include pseudoBasics;
      @if(radio == true) {
        border-radius: 100%;
      }
    }
    &::before {
      top: 0;
      left: 0;
      width: rem-calc($size);
      height: rem-calc($size);
      background: transparent;
      border: $input-border;
    }
    &::after {
      top: rem-calc($gap);
      left: rem-calc($gap);
      width: rem-calc($size - $gap*2);
      height: rem-calc($size - $gap*2);
      background: get-color(primary);
      opacity: 0;
    }
  }
  input:checked + label {
    &::after {
      opacity: 1;
    }
  }
}

// Styles
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    @each $key in $keys {
      $map: map-get($map, $key);
    }
    @return $map;
  }
}
@mixin getstyle($level, $style: font-size, $breakpoint: large) {
  #{$style}: rem-calc(map-deep-get($header-styles, $breakpoint, $level, $style));
}
@mixin loadfont($file, $name: $file, $w: normal, $s: normal) {
  // exemple : @include loadfont(comicsansms-webfont, ComicSans);
  @font-face {
    font-family: $name;
    //src: url('../fonts/' + $file + '.woff2') format('woff2'),
    src: url('../fonts/' + $file + '.woff') format('woff'),
    url('../fonts/' + $file + '.ttf') format('truetype');
    font-weight: $w;
    font-style: $s;
  }
}

// Gradients - @include gradient();  $start : top, bottom, left, right, -45deg ...
@mixin gradient($c1: $color1, $c2: $color2, $start: top, $type: 0){
  $end : bottom;
  @if 		$start == top 	{ $end: bottom; $type: 0 }
  @else if $start == left 	{ $end: right; $type: 1 }
  @else if $start == -45deg 	{ $end: 135deg; 	$type : 1 } // A améliorer avec un calcul +180

  background: $c1;
  background: -moz-linear-gradient($start,  $c1 0%, $c2 100%);
  background: -webkit-linear-gradient($start,  $c1 0%,$c2 100%);
  background: linear-gradient(to $end,  $c1 0%,$c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$c1', endColorstr='$c2',GradientType=$type );
}

// Cover media with ratio (square by default) parent
@mixin bloc_photo($ratio: 100%) {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: $ratio;
  > img, > video, > iframe {
    @include absolute-center;
    left: 50.1%;
    width: 101%;
    height: 101%;
    object-fit: cover;
    user-select: none;
    z-index: 10;
    & ~ * {
      z-index: 15;
    }
  }
}
