@import 'settings';
@import 'foundation';
@include foundation-prototype-shadow;
@include foundation-prototype-text-utilities;
@import 'mixins';
//@include loadfont('FontFiltename', 'FontName', 300);

@include foundation-everything();

// Front-end 'Nice to have' Basics
::-moz-selection { /* Code for Firefox */
  color: $white;
  background: get-color(primary);
}
::selection {
  color: $white;
  background: get-color(primary);
}